// Variables
:root {
  --font-family: 'Roboto', Helvetica, Arial, sans-serif;

  --primary-background: #ffffff;
  --primary-button: #0095f6;
  --primary-button-hover: #1877f2;
  --primary-button-disabled: #418bed;
  --primary-icon: #262626;
  --primary-text: #000000;

  --secondary-background: #fafafa;
  --secondary-button: #262626;
  --secondary-button-background: #efefef;
  --secondary-button-hover: #dbdbdb;
  --secondary-text: #737373;
  --secondary-icon: #8e8e8e;

  --tertiary-button-background: #ffffff;
  --tertiary-button-border: #dbdbdb;
  --tertiary-button-hover: #f5f5f5;
  --tertiary-button-text: #262626;
  --tertiary-text: #c7c7c7;
  --tertiary-icon: #c7c7c7;

  --separator: #dbdbdb;
  --success: #58c322;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

// Reusable styles
.instagram-logo {
  font-family: 'Pacifico', 'Times New Roman', Times, serif;
  color: var(--primary-icon);
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .instagram-logo-img {
    width: 175px;
    height: 51px;
  }
}

@mixin btn {
  --button-color: var(--primary-button);
  --button-color-disabled: var(--primary-button-disabled);
  --button-color-hover: var(--primary-button-hover);
  --text-color: var(--primary-background);

  background: var(--button-color);
  color: var(--primary-background);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  padding: 7px 16px;
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--button-color-hover);
  }
}

.log-in-with-facebook-btn {
  @include btn;

  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-default {
  @include btn;

  padding: 8px 16px;
}
