.container {
  --background-color: var(--primary-background);
  --text-color: var(--primary-text);
  --border-color: var(--separator);
  --link-color: var(--link);
  --button-color: var(--primary-button);

  background: var(--background-color);
  color: var(--text-color);
  width: 100%;
  padding: 8px 22vw;
  border-bottom: 1px solid var(--separator);
  position: sticky;
  top: 0;
  z-index: 5;

  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;

    ul {
      list-style: none;
    }

    .navList {
      display: flex;
      align-items: center;
      display: flex;
      gap: 16px;

      .addPostBtn {
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;

        .addPostIcon {
          height: 25px;
          width: 25px;
        }
      }

      .dropdownBtn {
        padding: 1px;
        background: transparent;
        border: none;
        cursor: pointer;

        .userProfilePicture {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          padding: 3px;
          flex: 0;
        }

        .open {
          outline: 2px solid var(--text-color);
        }
      }

      .dropdownMenu {
        min-width: 12vw;
        position: absolute;
        top: 50px;
        right: 0;
        background: var(--background-color);
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        .dropdownItem {
          width: 100%;

          .link {
            display: inline-block;
            padding: 15px;
            color: var(--text-color);
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            .linkIcon {
              height: 22px;
              width: 22px;
            }
          }

          button {
            padding: 15px;
            background: var(--background-color);
            border: none;
            cursor: pointer;
            font-size: 16px;
            text-align: start;
            width: 100%;
          }

          .logoutBtn {
            border-top: 1px solid var(--border-color);
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
          }
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}
